@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: normal;
  src: url('fonts/Roboto-Italic.ttf');
}

@layer base {
  html {
    font-family: Roboto;
  }
}
